{{ if gt .Params.results 0 }}
    <ul class="list-group list-group-horizontal-md my-5 border-top border-bottom list-results">
    {{ range $result := .Params.results }}
        <li class="list-group-item flex-fill d-flex align-items-center border-0 p-3">{{ partial "assets/icon.html" (dict "icon" "fas circle-check text-primary fa-2x") }} <span class="ms-2">{{ $result }}</span></li>
    {{ end }}
    </ul>
{{ end }}

{{ partial "utilities/ProcessContent" (dict "page" .Page "raw" .RawContent) }}

{{ if .Params.contact }}
    {{ $breakpoint := $.Scratch.Get "breakpoint" }}
    <div class="d-{{ $breakpoint.current }}-none">
		{{ partial "assets/contact.html" (dict 
			"page" .
			"orientation" "horizontal"
			"contact" .Params.contact
		) }}    
    </div>
{{ end }}
