{{ define "single-regular" }}
    {{- $breakpoint := .breakpoint -}}
    {{ $sidebar := .sidebar }}
    {{ $toc := .toc }}

    {{ with $sidebar }}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvass-sidebar" aria-inledby="offcanvas-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvas-label">{{ strings.FirstUpper $.Section }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ T "close" }}"></button>
            </div>
            <div class="offcanvas-body">
                {{ . | safeHTML }}
            </div>
        </div>
    {{ end }}

    <div class="container-xxl flex-fill p-4 px-xxl-0">
        <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2 row-cols-{{ $breakpoint.next }}-3">
            <div class="col col-{{ $breakpoint.next }}-2 d-none d-{{ $breakpoint.next }}-block sidebar-overflow sticky-top pt-5">
                {{ $sidebar | safeHTML }}
            </div>
            <div class="col-12 col-{{ $breakpoint.current }}-9 col-{{ $breakpoint.next }}-8 p-4">
                {{ .Render "single/header" }}
                {{- partial "single/thumbnail.html" (dict "page" .) -}}
                {{ .Render "single/main" }}
            </div>
            <div class="col col-{{ $breakpoint.current }}-3 col-{{ $breakpoint.next }}-2 d-none d-{{ $breakpoint.current }}-block pt-5">
                {{ $toc | safeHTML }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "main" -}}
    {{ if not (and .Params.content_blocks (gt (len .Params.content_blocks) 0 ))}}
        {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
        {{ $sidebar := trim (.Render "single/sidebar") " \r\n" }}
        {{ $toc := .Render "single/panel-toc" }}

        {{ if $sidebar }}
            {{ partial "single-regular" (dict "breakpoint" .breakpoint "sidebar" .sidebar "toc" .toc)}}
        {{ else }}
            <div class="container-xxl flex-fill p-4 px-xxl-0">
                <div class="row {{ if .Params.logo }} justify-content-center {{ end }} row-cols-2">
                    <div class="col {{ if .Params.logo }} col-8 {{ else }} col-12 {{ end }} col-{{ $breakpoint.current }}-9">
                        {{ .Render "single/header" }}
                    </div>
                    {{ with .Params.logo }}
                        <div class="col-4 col-{{ $breakpoint.current }}-3">
                            {{ $mode := false }}
                            {{ if site.Params.main.enableDarkMode }}
                                {{ $base := (path.BaseName .) }}
                                {{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}
                                {{ range $modes }}
                                    {{ if hasSuffix $base . }}{{ $mode = true }}{{ end }}
                                {{ end }}
                            {{ end }}
                            <div class="my-5 col-8 mx-auto text-info">
                                {{- partial "assets/image.html" (dict "url" . "title" (printf "%s logo" $.LinkTitle) "mode" $mode) -}}
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>

            <div class="container-fluid p-0">
                {{- partial "single/thumbnail.html" (dict "page" . "class" "p-0" "figclass" "container-xxl px-4 px-xxl-0" "ratio" "21x9") -}}
            </div>
            
            <div class="container-xxl flex-fill p-4 px-xxl-0">
                <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2">
                    <div class="col col-{{ $breakpoint.prev }}-12 col-{{ $breakpoint.current }}-9">
                        <div class="d-{{ $breakpoint.current }}-none mb-5">
                            {{ partial "assets/sharing.html" (dict "page" .) }}
                        </div>
                        {{ with .Description }}<p class="lead mb-5">{{ . }}</p>{{ end }}
                        {{ .Render "single/main" }}
                    </div>
                    <div class="col col-{{ $breakpoint.current }}-3 d-none d-{{ $breakpoint.current }}-block flex-fill">
                        {{ $toc | safeHTML }}
                    </div>
                </div>    
            </div>
        {{ end }}
    {{ end -}}
{{ end -}}