.accordion-theme {
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-active-color: var(--bs-primary);
    --bs-accordion-active-bg: none;
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .accordion-theme .accordion-button {
            background-color: transparent;
        }
    }
}
