{{- $breakpoint := $.Scratch.Get "breakpoint" -}}
{{ $name := (or .Params.name .Title) }}

<div class="d-{{ $breakpoint.current }}-none py-5">
    {{ partial "assets/connect.html" (dict "page" . "name" $name "short" false) }}

    {{ with .Content }}<p class="lead mb-5 mt-3">{{ . }}</p>{{ end }}
</div>

<div class="d-none d-{{ $breakpoint.current }}-block my-5 pt-5">
    <div class="row">
        <div class="col-4">
            {{- partial "assets/live-image.html" (dict "url" .Params.thumbnail "ratio" "1x1" "class" "rounded card-img-bg" "title" .Title "priority" "high") -}}
        </div>
        <div class="col-8">
            {{ with .Title }}<p class="display-5">{{ . }}</p>{{ end }}
            {{ with .Params.function | default .Description }}<p class="lead"><strong>{{ . }}</strong></p>{{ end }}
            {{ with .Content }}<p class="lead mb-5 mt-3">{{ . }}</p>{{ end }}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="d-{{ $breakpoint.current }}-none py-5">
                {{ partial "assets/connect.html" (dict "page" . "name" $name "short" false) }}
            </div>
        </div>
    </div>
</div>

{{- $sectionContent := trim (partial "assets/section-list.html" (dict 
    "page" . 
    "kind" "related" 
    "section" "related"
    "wrapper" "pt-4 pb-0 px-0"
    )) " \r\n"
-}}

{{ with $sectionContent }}
    <hr class="">
    <p class="display-5 pt-5">{{ T "seeAlso" }}</p>
    {{ . | safeHTML }}
{{ end }}
