{{ $pagination := 10 }}
{{ $cols := 5 }}
{{ $padding := "3" }}

{{ $list := .Pages }}

<section class="container-fluid p-0 pb-5">
    <div class="container-xxl p-4 px-xxl-0">
        {{ if eq (len $list) 0 }}
            <p class="pt-4">{{- T "emptyList" }}.</p>
        {{ else }}
            {{- partial "assets/card-group.html" (dict 
                "page" page
                "list" $list
                "hrefTitle" ""
                "href" ""
                "class" "border-0 text-center contact-list col-6 col-sm-12 mx-auto"
                "cols" $cols
                "padding" $padding
                "header" "none"
                "footer" "none"
                "paginate" true
                "pagination" $pagination
                "orientation" "stacked"
                "ratio" "1x1"
            ) -}}
        {{ end }}
    </div>
</section>
