{{/* Initialize global variables */}}
{{- $size := .Site.Params.style.title.size | default 4 -}}
{{- $headingStyle := .Site.Params.style.title.headingStyle | default "display" -}}
{{- $contentStyle := .Site.Params.style.title.contentStyle | default "lead text-muted" -}}
{{- $padding := partial "utilities/GetPadding.html" -}}
{{- $sharing := .Scratch.Get "sharing" -}}

{{/* Initialize local variables */}}
{{- $breakpoint := .Scratch.Get "breakpoint" -}}
{{ $title := .Title }}
{{ if and .Site.Params.main.titleCase (not .Params.exact) }}{{ $title = title $title }}{{ end }}
               
{{/* Display title and metadata */}}
{{ with $title }}<h1 id="{{ anchorize . }}" class="{{ $headingStyle }}-{{ $size }} pt-1">{{ . }}</h1>{{ end }}

{{/* Render metadata */}}
{{- partial "page/metadata.html" . -}}

{{/* Render tags */}}
{{- partial "page/tags.html" . -}}
