{{- $breakpoint := $.Scratch.Get "breakpoint" -}}

<div class="d-{{ $breakpoint.current }}-none py-5">
    {{ with .Params.linkedin }}
        <a href="{{ . }}" class="btn btn-primary mb-4" target="_blank" rel="noopener noreferrer">
            {{- partial "assets/icon.html" (dict "icon" "fab linkedin fa-fw") }} LinkedIn
        </a>
    {{ end }}
    {{ with .Content }}<div class="lead mb-5 mt-3">{{ . }}</div>{{ end }}
</div>

<div class="d-none d-{{ $breakpoint.current }}-block my-5 pt-5">
    <div class="row">
        <div class="col-4">
            {{- partial "assets/live-image.html" (dict "src" .Params.thumbnail "ratio" "1x1" "class" "rounded card-img-bg" "title" .Title "priority" "high") -}}
        </div>
        <div class="col-8">
            {{ with .Title }}<p class="display-5">{{ . }}</p>{{ end }}
            {{ with .Params.function | default .Description }}<p class="lead"><strong>{{ . }}</strong></p>{{ end }}
            {{ with .Content }}<div class="lead mb-5 mt-3">{{ . }}</div>{{ end }}
        </div>
    </div>
</div>
